body{
  background-color: rgba(203, 201, 235, 0.632);
}
.top-v{
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}
.top-v-C{
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size: 50px;
  margin-bottom: 30px;
}
.top-v-p{
  font-size: 21px;
}
.mmd{
  background-color: rgba(255, 228, 196, 0.71);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mmd-t{
  background-color: aliceblue;
  border-radius: 12px;
  padding: 30px;
}
.mmd-h2{
  font-size: 30px;
}
.mmd-options{
padding: 20px;
}
.mmd-options > div{
  margin-bottom: 20px;
}
.a-frame-mmd-area{
  width: 40vw;
  height: 90%;
}
.a-frame-mmd-iframe{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: #2223 0px 0px 16px;
}
.background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
.background-iframe{
  width: 100%;
  height: 100%;
}