@charset "UTF-8";
body {
  background-color: rgb(0, 145, 255);
}

.title {
  width: 100vw;
  height: 160px;
  background-color: rgb(0, 145, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.parentContainer {
  width: 100vw;
  display: block;
  min-height: calc(100vh - 160px);
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 20px;
  background-color: #e7e7e7;
}

.switch {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-radius: 100px;
}
.switch .switchl {
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: #43d3ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch .switchl:first-child {
  border-radius: 100px 0 0 100px;
  border-right: solid 0.5px #fff;
}
.switch .switchl:last-child {
  border-radius: 0 100px 100px 0;
  border-left: solid 0.5px #fff;
}
.switch .selected {
  background-color: #0ba7d6;
}

.container {
  width: 100vw;
  padding-bottom: 20px;
}
.container .subTitle {
  width: 100vw;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #222;
}
.container input {
  background-color: #fff;
  border-radius: 100px;
  padding: 8px 20px;
  margin: 8px;
}
.container .contentTitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: center;
}
.container .setrarity .rarityInput {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.container .setrarity .rarityInput p {
  display: inline-block;
  width: 40px;
}
.container .setrarity .rarityInput .setRate {
  width: 60px;
  text-align: right;
  box-sizing: border-box;
  position: relative;
}
.container .setrarity .rarityInput::after {
  position: absolute;
  display: inline-block;
  content: "%";
}
.container .setrarity .caption {
  width: 100%;
  text-align: center;
}
.container .setrarity .caption .captionPSum {
  margin: 20px;
  font-size: 32px;
}
.container .setrarity .caption .captionP {
  margin: 20px;
  margin-bottom: 40px;
}
.container .prizeContaier {
  width: 80vw;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(227, 227, 227);
  border-radius: 8px;
  box-shadow: rgba(34, 34, 34, 0.4784313725) 0 0 16px;
}
.container .prizeNameInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container .prizeRarityInput {
  margin: auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.container .prizeRarityInputTitle {
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #4a4a4a;
}
.container .prizeRarityInputSelect {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 1000px;
  text-align: center;
}
.container .prizeAddButton {
  padding: 10px 20px;
  border-radius: 1000px;
  background-color: rgb(0, 145, 255);
  color: #fff;
  margin: 40px auto;
  width: 160px;
  text-align: center;
  display: block;
}
.container .deleteButton {
  background-color: rgb(255, 21, 68) !important;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  width: 80px;
  display: block;
  font-size: 12px;
  padding: 8px;
  margin-right: 10px;
}
.container .containerList {
  width: 80vw;
  margin: auto;
}
.container .label {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.container .containerListUl {
  width: 100%;
}
.container .containerListUl li {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: solid 0.5px #4a4a4a;
}
.container .containerListUl li p:nth-child(1) {
  width: 200px;
}
.container .containerListUl li p:nth-child(2) {
  width: 60px;
}
.container .containerListUl li button {
  padding: 6px 0px;
  display: block;
  width: 54px;
  text-align: center;
  border-radius: 100px;
  background-color: #43d3ff;
  color: #fff;
  font-size: 10px;
}
.container .containerListUl li input {
  width: 130px;
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
  transform: translateX(-10%);
}
.container .containerListUl li select {
  background-color: #fff;
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
  transform: translateX(-10%);
  border-radius: 100px;
  text-align: center;
}
.container .saveDataButton {
  padding: 10px 20px;
  text-align: center;
  border-radius: 100px;
  background-color: #43d3ff;
  color: #fff;
  display: block;
  width: 200px;
  margin: 40px auto;
}

.rouletteContainer {
  min-height: 100vh;
  width: 100vw;
  padding-top: 20px;
  box-sizing: border-box;
}

.listenerInput {
  width: 200px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
  padding: 10px 20px !important;
}

.timeslabel {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  align-items: center;
}
.timeslabel::before {
  content: "何連？";
  display: block;
  position: absolute;
  left: 0;
  transform: translateX(20%);
}
.timeslabel::after {
  content: "回";
  display: block;
  position: absolute;
  right: 0;
  transform: translateX(-80%);
}

.timesInput {
  width: 160px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding: 10px 40px !important;
  text-align: right !important;
  padding-right: 40px !important;
}

.rouletteButton {
  width: 200px;
  display: block;
  margin: 20px auto;
  background-color: #43d3ff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
}

.result {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: solid 1px #666;
}

.listener {
  width: 80vw;
  margin: auto;
  display: block;
}

.listOfResult {
  width: 90%;
  display: block;
  margin: auto;
}
.listOfResult li {
  width: 100%;
  display: flex;
  justify-content: left;
  border-bottom: solid 0.5px #ccc;
  padding: 20px;
}
.listOfResult li p {
  min-width: 60px;
}

.hidden {
  display: none;
}

.listOfHistory {
  width: 100vw;
}
.listOfHistory li {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 16px;
  padding-bottom: 16px;
  border-bottom: solid 0.5px #ccc;
}
.listOfHistory li .histroyListener {
  width: 100%;
}
.listOfHistory li .histroyPrise {
  width: 100%;
}
.listOfHistory li .histroyRarity {
  width: 80px;
  text-align: center;
}
.listOfHistory li .HistoryEditButton {
  background-color: #43d3ff;
  color: #fff;
  border-radius: 100px;
  width: 95px;
  display: block;
  font-size: 12px;
  padding: 8px;
  text-align: center;
}
.listOfHistory li .histroyListenerEdit {
  width: 100px;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.listOfHistory li .histroyDeleteButton {
  background-color: rgb(255, 21, 68);
  text-align: center;
  color: #fff;
  border-radius: 100px;
  width: 95px;
  display: block;
  font-size: 12px;
  padding: 8px;
  margin-right: 10px;
}

.filterButtons {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.filterButton {
  background-color: rgb(21, 126, 255);
  text-align: center;
  color: #fff;
  border-radius: 100px;
  width: 100%;
  display: block;
  font-size: 12px;
  padding: 14px 10px;
  margin: auto;
}

.filterButtonDelete {
  background-color: rgb(255, 50, 67);
  text-align: center;
  color: #fff;
  border-radius: 100px;
  width: 50%;
  display: block;
  font-size: 12px;
  padding: 4px 8px;
  margin: auto;
  margin-bottom: 20px;
}

.searchArea {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: block;
}
.searchArea .filterInput {
  display: block;
  width: 80vw;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */