body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    color:#fff;
    text-shadow:  #222 0 0 .8em;
}
.content{
    height: 1em;
    /* overflow: hidden; */
}
.year{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 56px;
}
.date{
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
}
.day-month{
    font-size: 64px;
    display: flex;
}

.day{
    margin-top: .7em;
    margin-left: 18px;
}
.strip{
    display: flex;
    position: absolute;
    font-size: 100px;
    transform: translateX(30px);
} 
.week{
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 80px;
    display: flex;
}
.youbi{
    margin-top: auto;
    margin-bottom: 4px;
    font-size: 64px;
}
.time{
    margin-left: auto;
    margin-right: auto;
    height: 1em;
    width: fit-content;
    display: flex;
    font-size: 120px;
}
.noon{
    margin-top: auto;
    margin-bottom: 8px;
    margin-left: 20px;
    font-size: 80px;
}
.activef{
    animation-name:up;
    animation-duration:0.4s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
    animation-play-state:running;
}
.activel{
    animation-name:upl;
    animation-duration:.4s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
    animation-play-state:running;
}
@keyframes up{
    0%{ transform: translateY(-100%);
        opacity: 1.0;
    }
    100%{ transform: translateY(0%) perspective(120px)  /* 奥行 */
        rotateX(-45deg);
        opacity: 0.0;
    }
  }
  @keyframes upl{
    0%{ transform: translateY(-100%) perspective(120px)  /* 奥行 */
        rotateX(60deg);
        opacity: 0.0;
        }
    100%{ transform: translateY(0%);
        opacity: 1.0;
    }
  }
  #year{
      display: none;
  }
  /* .date{
      display: none;
  } */
  #sec{
      display: none;
  }