body{
    min-width: 1200px;
    height: auto;
    background-color: rgb(33, 33, 43);
}
.secter{
    background-color: rgb(96, 105, 167);
    min-width: 1200px;
    height: 100vh;
}
.filter{
    width: 80vw;
    height: 40vw;
    min-width: 946px;
    min-height: 472px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translateX(-100%);*/
    /*transform: translateY(-50%);*/
    transform: translate(-50%,-50%);
}
.filter:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 3px solid #fff ;
    pointer-events: none;
}
.secter h1{
    position: absolute;
    top: 1vw;
    left: 1vw;
    min-width: 10px;
    
    background-color: burlywood;
    width: 160px;
}
.secter h1 span{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 5;
}
.nav{
    position: absolute;
    top: 1vw;
    right: 1vw;
}
.nav ul{

    display: flex;
    list-style: none;
    
}
.nav li{ 
    margin-left: 1vw;
    
}
.nav li a{
    display: inline-block;
    height: 20px;
    width: 60px;
    text-align: center;
    
}
.nav li .selected{
    color: #1ac4eb;
}
.nav li a:hover{
    color: #6cc1d3;
}
.index_btn{
    /*background-color: coral;*/
    width: 60vw;
    height: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
.toLeft{
    margin-top: 2px;
    margin-left: 2px;
    width: 60px;
    height: 60px;
    /*background-color: darkgreen;*/
    background-image: url(images/toLeft.png);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.toLeft:hover{
    margin: 0px;
    width: 64px;
    height: 64px;
}
.toLeft:active{
    margin-top: 3px;
    margin-left: 3px;
    width: 59px;
    height: 59px;
}

.toRight{
    margin-top: 2px;
    margin-right: 2px;
    width: 60px;
    height: 60px;
    /*background-color: darkgreen;*/
    background-image: url(images/toRight.png);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat; 
}
.toRight:hover{
    margin: 0px;
    width: 64px;
    height: 64px;
}
.toRight:active{
    margin-top: 3px;
    margin-right: 3px;
    width: 59px;
    height: 59px;
}

.contents{
    width: 80vw;
    height: 40vw;
    min-width: 946px;
    min-height: 472px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
}


.title img{
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 50px;
}
.main_content img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:25%;
    height: auto;
    border-radius: 8px; 

    animation-name: main;
    animation-duration:1.0s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
    animation-play-state:running;
}
.l_main{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    width:50%;
    height: auto;
    border-radius: 8px; 
}
.r_main{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
    width:70%;
    height: auto;
    border-radius: 8px; 
}


@keyframes main {
    0%{
        opacity: 0.0;
        width:8%;
        
    }
    100%{
        width:25%;
        opacity: 1.0;
    }
    
}
.menu img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-30deg);
    
    height: auto;
    border-radius: 50%;
    z-index: -1;

    animation-name: menu;
    animation-duration:1.0s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
    animation-play-state:running;

}
.menu img:hover{
    width: 11%;
    transform: translate(-50%,-50%) rotate(-20deg);
}

@keyframes menu {
    0%{ transform:rotate(0);
        opacity: 0.0;
        width:1%;
        
    }
    20%{
        transform:rotate(0);
        
    }
    100%{ transform:rotate(-30deg);
        top: 25%;
        left: 25%;
        width:10%;
        opacity: 1.0;
    }
    
}

.content img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(25deg);
    height: auto;
    z-index: -1;

    animation-name: content;
    animation-duration:1.0s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
    animation-play-state:running;
    
}
.content img:hover{
    width: 21%;
    transform: translate(-50%,-50%) rotate(30deg);
}
@keyframes content {
    0%{ transform:rotate(0);
        opacity: 0.0;
        width: 1%;
    }

    20%{
        transform:rotate(0);
        
    }
    100%{ transform:rotate(30deg);
        top: 60%;
        left: 70%;
        width: 20%;
        opacity: 1.0;
    }
    
}